<h1>My Current Games</h1>

<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
  <tr>
    <th>Start</th>
	<th>Partner</th>
    <th>Next Turn</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
    <% @current_games.each do |g| %>
      <tr>
        <td><%= g.start%></td>
        <td><%= partner(g).username%></td>
        <td><%= (g.board_states.last.turn == "B" ? User.find(g.partnership.user1_id).username : User.find(g.partnership.user2_id).username) %></td>
        <td><%= link_to 'view', g %></td>
      </tr>
	<% end %>
  </tbody>
</table>

<%= link_to 'Back', welcome_home_path %>