<h1>Invitations</h1>

<% if @received_invitations.empty? %>
    <h3>You don't have any pending invitations.</h3>
<%else%>
    <table class = "uk-table uk-table-striped uk-table-hover">
      <thead>
      <tr>
        <th>From</th>
        <th>Date</th>
        <th>Actions</th>
        <th>&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      <%@received_invitations.each do |invitation|%>
        <tr>
          <td><%= get_friend(invitation).username%></td>
          <td><%=invitation.created_at%></td>
          <td> <%= button_to 'Accept', controller: :partnerships, action: "accept", id: invitation.id, class: "uk-button uk-button-small" %>
          <%= button_to 'Decline', controller: :partnerships, action: "decline", id: invitation.id, data: { confirm: "Are you sure you don't want to play?" }, class: "uk-button uk-button-small" %></td>
                </tr>
            <% end %>
      </tbody>
    </table>

<% end %>


<% if not @declined_invitations.empty? %>
    <h1>Declined invitations</h1>
                <table class = "uk-table uk-table-striped uk-table-hover">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>

                  <tbody>
                  <%@declined_invitations.each do |invitation|%>
                  <tr>
                    <td><%= get_friend(invitation).username%></td>
                    <td>declined your invitation! :(</td>
                    <td> <%= button_to 'ok', partnership_path(id: invitation.id), method: "delete", class: "uk-button uk-button-small" %></td>
                  </tr>
                  <% end %>
                  </tbody>

<% end %>


<%= link_to 'Back', welcome_home_path %>