<h1>Invitations</h1>
<% if @received_invitations.empty? %>
    <h3>You don't have any pending invitations.</h3>
<%else%>
    <%@received_invitations.each do |invitation|%>
      <%= get_friend(invitation).username%> invites you to join a game!
      <%= button_to 'Accept', controller: :partnerships, action: "accept", id: invitation.id, class: "uk-button uk-button-small" %>
      <%= button_to 'Decline', controller: :partnerships, action: "decline", id: invitation.id, data: { confirm: "Are you sure you don't want to play?" }, class: "uk-button uk-button-small" %>
    <% end %>
<% end %>


<% if not @declined_invitations.empty? %>
    <h1>Declined invitations</h1>
    <%@declined_invitations.each do |invitation|%>
        <%= get_friend(invitation).username%> declined your invitation
        <%= button_to 'ok', partnership_path(id: invitation.id), method: "delete", class: "uk-button uk-button-small" %>
    <% end %>
<% end %>


<%= link_to 'Back', welcome_home_path %>