
<% content_for :head do %>
    <%= tag :meta, :name => "state", :content => @state.to_json %>
    <%= tag :meta, :name => "turn", :content => current_user_color(@game)%>
<% end %>

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
  <div class="uk-panel uk-panel-box uk-panel-box-primary uk-text-center">

    <!-- Display whose turn it is  -->
    <% if not @sent_draw_request.nil? %>
        <div class="uk-panel">
          <h3 class="uk-text-large">Waiting for <%= partner(@game).username %>'s response to your draw request … <%= link_to "", @game, class: "uk-icon-refresh" %></h3>

        </div>
    <% else %>
        <!-- There's no pending draw request-->
        <% if not @game.end.nil? %> <!-- The game is over -->
            <div class="uk-panel">
              <h3 class="uk-text-large"><%= @game.display_end_status(current_user) %></h3>
            </div>
        <% else %> <!-- The game is not over -->
            <% if not @received_draw_request.nil? %> <!-- There's a draw request addressed to the current user -->
                <div class="uk-panel">
                  <h3 class="uk-text-large"><%= partner(@game).username %> proposes a draw!</h3>

                  <div class="uk-button-dropdown" data-uk-dropdown>
                    <button class="uk-button-small uk-button-primary">Reply</button>
                    <div class="uk-dropdown" style="width: 60px;">
                      <ul class="uk-nav uk-nav-dropdown">
                        <li>
                          <%= form_tag({controller: "draw_requests", action: "accept", id: @received_draw_request.id}, method: "post") do %>
                              <a href="#" onclick="$(this).parent().submit()">Accept</a>
                          <% end %>
                        </li>
                        <li>
                          <%= form_tag({controller: "draw_requests", action: "decline", id: @received_draw_request.id, data: { confirm: "Are you sure you want to draw this game?" }}, method: "post") do %>
                              <a href="#" onclick="$(this).parent().submit()">Decline</a>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
            <% elsif current_user_turn?(@game, @turn)%> <!-- There's no draw request and it's current user's turn -->
                <div class="uk-panel">
                  <h3 class=class="uk-text-large" id="status_header">It's <span id="op_name">your</span> turn!  <%= link_to "", @game, class: "uk-icon-refresh", id: "refreshLink", style: "display: none;" %></h3>
                  <%= button_to 'Send draw request', draw_requests_path(game_id: @game.id), class: "uk-button uk-button-primary uk-button-small", id: "draw_request" %>
                </div>
            <% else %> <!-- it's not current user's turn -->
                <div class="uk-panel">
                  <h3 class="uk-text-large">It's <%= partner(@game).username %>'s turn! <%= link_to "", @game, class: "uk-icon-refresh" %></h3>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-3-4">
      <div>
        <canvas id="chess" width="800" height="800" game_id="<%=@game.id %>" user_id="<%= current_user.id %>"></canvas>
        <script>draw();</script>
      </div>
    </div>


    <div class="uk-width-medium-1-4">
      <div class="uk-panel uk-panel-box uk-text-center">
        <% if current_user_color(@game) == 'W'%>
            <h3 class="uk-panel-title">You are playing White against</h3>
        <% else %>
            <h3 class="uk-panel-title">You are playing Black against</h3>
        <% end %>
        <% if partner(@game).image? %>
            <%= image_tag partner(@game).image_url(), class: "uk-border-circle width= 120 height=120"%>
        <% else %>
            <%= image_tag avatar_url(partner(@game)), class: "uk-border-circle width= 120 height=120"%>
        <% end %>
        <h3 id="opponent_name"><%= partner(@game).username %></h3>
      </div>

      <div class="uk-panel uk-text-center">
        <h3 class="uk-panel-title">Game Start</h3>
        <p><%= @game.start %></p>
      </div>
      <%if not @game.end.nil? %> <div class="uk-panel uk-text-center">
        <h3 class="uk-panel-title">Game End</h3>
        <p><%= @game.end %></p>
      </div> <% end %>
      <div class="uk-panel uk-text-center">
        <h3 class="uk-panel-title">Recent Moves</h3>
        <%#add an id to be used%>
        <ul class="uk-list uk-list-line" id="recent_moves">
          <% @recent_moves.each do |m| %>
              <li><%= m%></li>
          <% end %>

        </ul>
        <%= link_to "View all moves", moves_path(game_id: @game.id)%>
      </div>

      <div class="uk-panel uk-text-center">
        <h3 class="uk-panel-title">Rules</h3>
        <p><%= link_to('View chess rules', "/chess_rules.html", :target => "_blank") %></p>
      </div>

    </div>

  </div>
</div>
