<p>
  Game start:
  <%= @game.start %>
</p>

  <% if current_user_color(@game) == 'W'%>
      You are playing white against <%= partner(@game).username %>
  <% else %>
      You are playing black against <%= partner(@game).username %>
  <% end %>

  <%= image_tag partner(@game).image_url(:thumb) if partner(@game).image?%>
</p>


<% if not @state.nil?  %>State: <%= @state %> <% end %>
<p>

<% if current_user_turn?(@game, @turn)%>
    It's your turn! <%= button_to 'Make a move', moves_path(game_id: @game.id), action: 'create', class: "uk-button uk-button-small" %>
<% else %>
    It's <%= partner(@game).username %>'s turn!
<% end %>

<div>
  <canvas id="chess_board" width="500" height="500">Your browser does not support canvas!</canvas>
</div>

<script type="text/javascript" charset="utf-8">
  var canvas = document.getElementById("chess_board");

// calculate position of the canvas DOM element on the page

var canvasPosition = {
    x: canvas.offsetLeft,
    y: canvas.offsetTop
};

canvas.onclick = function(e) {

    // use pageX and pageY to get the mouse position
    // relative to the browser window

    var mouse = {
        x: e.pageX - canvasPosition.x,
        y: e.pageY - canvasPosition.y
    }

    // now you have local coordinates,
    // which consider a (0,0) origin at the
    // top-left of canvas element
	var file = Math.floor((480-mouse.y)/60)+1;
	var rank = Math.floor((mouse.x-20)/60)+1;
	
	alert('file: '+file+", rank: "+rank);
};

  var context = canvas.getContext("2d");
  /* Fill the black tiles */
  context.fillStyle = "black";
  for(var i=0; i<4; i++) {
	for(var j=0; j<4; j++) {
      context.fillRect(i*120+80, j*120, 60, 60);
	}
  }
  for(var i=0; i<4; i++) {
	for(var j=0; j<4; j++) {
      context.fillRect(i*120+20, j*120+60, 60, 60);
	}
  }
  /* Draw the boarder of the board */
  context.moveTo( 20,  0);
  context.lineTo( 20,480);
  context.lineTo(500,480);
  context.lineTo(500,  0);
  context.lineTo( 20,  0);
  context.stroke();
  
  /* Draw the numeration of the files and the ranks */
  for(var i=1; i<9; i++) {
    context.fillText(i, 5, 530-i*60);
  }
  context.fillText('a', 40, 495);
  context.fillText('b', 100, 495);
  context.fillText('c', 160, 495);
  context.fillText('d', 220, 495);
  context.fillText('e', 280, 495);
  context.fillText('f', 340, 495);
  context.fillText('g', 400, 495);
  context.fillText('h', 460, 495);
</script>

Draw request to <%= partner(@game).username %>: <%= button_to 'Send', controller: :games, action: "show", id: @game.id, class: "uk-button uk-button-small" %><br>

View chess rules <%= link_to('here', "/chess_rules.html") %>