<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>ChessGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
 <div class="uk-container uk-container-center">
    <nav class="uk-navbar uk-margin">
      <a href="<%= welcome_index_path %>" class="uk-navbar-brand">Chess Game</a>

      <% if user_signed_in? %>
          <ul class="uk-navbar-nav">
            <li<%= if params[:controller] == 'users'; " class=uk-active" end %>><a href="<%= users_friends_url %>">My Friends</a></li>
            <li<%= if params[:controller] == 'games'; " class=uk-active" end %>><a href="<%= games_url %>"> My Games</a></li>
            <li<%= if params[:controller] == 'welcome'; " class=uk-active" end %>><a href="<%= welcome_home_url %>"><i class="uk-icon-home"></i>Home</a></li>
          </ul>
      <% end %>

      <div class="uk-navbar-flip">
          <% if user_signed_in? %>
            <div class="uk-navbar-content">
              Logged in as <strong><%= current_user.email %></strong>
            </div>
            <div class="uk-button-dropdown" data-uk-dropdown>
              <button class="uk-button"><i class="uk-icon-user"></i></button>
              <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'uk-link' %></li>
                  <li><%= link_to "Manage account", edit_user_registration_path, :class => 'uk-link'  %></li>
                </ul>
              </div>
            </div>
          <% else %>
            <div class="uk-navbar-content">
              <%= link_to "Sign up", new_user_registration_path, :class => 'uk-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'uk-link'  %> |
              <%= link_to "Rules", welcome_rules_path, :class => 'uk-link' %>
            </div>
          <% end %>

      </div>

     </nav>


<% # Display flash messages across the application %>
<% if flash[:notice] %>
    <div class="uk-alert" data-uk-alert>
      <a href="" class="uk-alert-close uk-close"></a>
      <p><%= flash[:notice] %></p>
    </div>
<% end %>
<% if flash[:alert] %>
    <div class="uk-alert uk-alert-danger" data-uk-alert>
      <a href="" class="uk-alert-close uk-close"></a>
      <p><%= flash[:alert] %></p>
    </div>
<% end %>

 <%= yield %>

</div>

</body>
</html>
